{% extends "dashboard_admin/dashboard_base.html" %}
{% block dashboard_content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">Gestión de Asesores</h1>
    <a href="{% url 'dashboard_admin:crear_asesor' %}" class="btn btn-primary-assecol">Añadir Asesor</a>
</div>
<div class="card shadow-sm border-0">
    <div class="card-body">
        <table class="table table-hover">
            <thead><tr><th>Nombre Completo del Asesor</th><th class="text-end">Acciones</th></tr></thead>
            <tbody>
            {% for asesor in asesores %}
                <tr>
                    <td><strong>{{ asesor.nombre_completo }}</strong></td>
                    <td class="text-end">
                        <a href="{% url 'dashboard_admin:editar_asesor' pk=asesor.pk %}" class="btn btn-outline-secondary btn-sm">Editar</a>
                        <a href="{% url 'dashboard_admin:eliminar_asesor' pk=asesor.pk %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="2" class="text-center p-4">No hay asesores registrados.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}