{% extends "dashboard_admin/dashboard_base.html" %}

{% block dashboard_content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">Compañías Aseguradoras</h1>
    <a href="{% url 'dashboard_admin:crear_compania' %}" class="btn btn-primary-assecol">
        <i class="fas fa-plus me-2"></i>Añadir Nueva Compañía
    </a>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>Nombre de la Compañía</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for compania in companias %}
                <tr>
                    <td class="fw-bold">{{ compania.nombre }}</td>
                    <td class="text-end">
                        <a href="{% url 'dashboard_admin:editar_compania' pk=compania.pk %}" class="btn btn-outline-secondary btn-sm">Editar</a>
                        <a href="{% url 'dashboard_admin:eliminar_compania' pk=compania.pk %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-center p-4">No hay compañías registradas.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}