{% extends "dashboard_admin/dashboard_base.html" %}

{% block dashboard_content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">Tipos de Seguro</h1>
    <a href="{% url 'dashboard_admin:crear_tipo_seguro' %}" class="btn btn-primary-assecol">
        <i class="fas fa-plus me-2"></i>Añadir Nuevo Tipo
    </a>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for tipo in tipos_de_seguro %}
                    <tr>
                        <td class="fw-bold">{{ tipo.nombre }}</td>
                        <td>{{ tipo.descripcion|truncatewords:15 }}</td>
                        <td class="text-end">
                            <a href="{% url 'dashboard_admin:editar_tipo_seguro' pk=tipo.pk %}" class="btn btn-outline-secondary btn-sm" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'dashboard_admin:eliminar_tipo_seguro' pk=tipo.pk %}" class="btn btn-outline-danger btn-sm" title="Eliminar">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center p-4">No hay tipos de seguro registrados.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}